body {
  font-family: Arial;
  padding: 10px;
  background-color: #fefcfd;
}

header {
  padding: 0px;
  text-align: center;
  background: #fefcfd;
}

header img {
  width: 35%;
}

nav {
  overflow: hidden;
  background-color: #E50B4C;
}

nav a {
  display: block;
  color: #fefcfd;
  text-align: center;
  padding: 16px 17px;
  text-decoration: none;
}

nav a:hover {
  background-color: #fefcfd;
  color: #E50B4C;
}

.firstcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.secondcolumn {
  float: right;
  width: 35%;
  background-color: #fefcfd;
  padding-left: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefcfd;
  padding: 20px;
}

.card img {
  border: 1px solid #555555;
}

.card h2 {
  text-align: center;
}

.card p {
  text-align: justify;
}

.gif img {
  width: 20%;
  border: none;
  display: block;
  padding-bottom: 10px;
  padding-top: 20px;
}

img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 16px;
  color: #E50B4C;
  padding-bottom: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin: auto;
  padding: 10px;
  width: 50%;
}

footer {
  padding: 20px;
  background: #E50B4C;
  margin-top: 40px;
}

footer h4 {
  text-align: center;
  color: #fefcfd
}

@media screen and (max-width: 800px) {

  .firstcolumn,
  .secondcolumn {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}